<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="end">
      
      <ion-icon size="large" (click)="addproduct()" class="addproduct" name="settings"></ion-icon>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <br>
<br>
<br> -->
<ion-content>
  <!-- <ion-button (click)="closeAccordion()" expand="full">Close accordion</ion-button>
  <ion-button (click)="toggleSection()" expand="full">Toggle Section</ion-button> -->
<ion-accordion-group multiple="true">
  <ion-accordion *ngFor="let data of allPendingOrders">
    <ion-item slot="header" lines="none">
      <ion-label class="labelname">{{data.BillingFirstname}} {{data.BillingLastname}}<br> Date Ordered : {{data.Datetime}}
      <br>
      Total Amount : {{data.TotalAmount | currency: '₱'}}
      <br>
      Status : {{data.Status}}
    </ion-label> 
      
      <!-- <ion-label class="labeldate"> Date Ordered : {{data.Datetime}}</ion-label>
      <ion-label class="totalamount">Total Amount : {{data.TotalAmount | currency: '₱'}}</ion-label> -->
    </ion-item>
    <ion-list slot="content" class="bg-transparent">
     
      <ion-item color="none" lines="none" *ngFor="let datadetails of data.OrderDetails">
        <ion-avatar slot="start">
          <img src="{{datadetails.ImageUrl}}">
        </ion-avatar>
        <ion-label style="font-weight: bolder;">
          <!-- <h2>Fullname: {{data.BillingFirstname}} {{data.BillingLastname}}</h2> -->
          <h2 style="font-weight: bolder;">Product Name: {{datadetails.ProductName}}</h2>
          <h3 style="font-weight: bolder;">Email: {{data.Billingemail}}</h3>
        
          <p style="font-weight: bolder;">Address1: {{data.BillingAddress1}}</p>
          <p style="font-weight: bolder;">Address2: {{data.BillingAddress2}}</p>
          <p style="font-weight: bolder;">Phone Number: {{data.BillingPhonenumber}}</p>
          <p style="font-weight: bolder;">Quantity: {{datadetails.Quantity}}</p>
          <p style="font-weight: bolder;">Unit Price: {{datadetails.UnitPrice | currency: '₱'}}</p>
        </ion-label>
       
      </ion-item>
   </ion-list>
  </ion-accordion>

</ion-accordion-group>
</ion-content>
