<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!-- <ion-back-button color="light" defaultHref="home"></ion-back-button> -->
      <ion-icon name="cart"></ion-icon>
    </ion-buttons>
    <ion-buttons  slot="end">
      
      <ion-icon size="large" (click)="addproduct()" class="addproduct" name="settings"></ion-icon>
    </ion-buttons>
    <ion-title>Inventory Movement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="bg-transparent">
    <!-- <ion-list-header> Recent Conversations </ion-list-header> -->

    <ion-item *ngFor="let data of inventoryList" color="none" lines="none">
      <ion-avatar slot="start">
        <img src="{{data.ImageUrl}}" />
      </ion-avatar>
      <ion-label style="font-weight: bolder;">
        <h2 style="font-weight: bolder;">{{data.ProductName}}</h2>
        <h3 style="font-weight: bolder;">{{data.Quantity}}</h3>
        <p style="font-weight: bolder;">{{data.Destination}}</p>
        <p style="font-weight: bolder;">{{data.Datetime}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>