<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
   
   <ion-back-button></ion-back-button>    
    </ion-buttons>
<ion-buttons slot="end">
  
  <ion-button #productbtn (mouseenter)="dropdown=true" (mouseleave)="hideDropdown($event)" fill="clear" color="dark"
  class="dropdown-btn"  routerDirection="root" routerLinkActive="active-item">
  Categories
  <ion-icon slot="end" [name]="dropdown ? 'chevron-down' : 'chevron-up'"></ion-icon>
</ion-button>
</ion-buttons>
    
  </ion-toolbar>
  <div *ngIf="dropdown" class="dropdown" (mouseleave)="dropdown = false" #dropdownbox>
   
    <!-- <ion-item button routerLink="/viewproducts"  (click)="dropdown = false"  [queryParams]="{category: 'Milktea'}" lines="none"
    routerDirection="root">
    All
    </ion-item> -->
    <ion-item button routerLink="/viewproducts"  (click)="dropdown = false"  lines="none"
    routerDirection="root">
    All
    </ion-item>
    <ion-item button routerLink="/viewproducts"  (click)="dropdown = false"  [queryParams]="{category: 'Milktea'}" lines="none"
    routerDirection="root">
    Milktea
    </ion-item>
    <ion-item button routerLink="/viewproducts" (click)="dropdown = false"  [queryParams]="{category: 'Fruit tea'}" lines="none"
    routerDirection="root">
    Fruit Tea
    </ion-item>
    <ion-item button routerLink="/viewproducts" (click)="dropdown = false"  [queryParams]="{category: 'Slushee'}" lines="none"
    routerDirection="root">
    Slushee
    </ion-item>
  </div>
</ion-header>
<ion-content>
  <div class="container">
  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-list class="bg-transparent">
        <ion-item *ngFor="let data of products" color="none" lines="none">
          <ion-thumbnail slot="start">
           <img src="{{data.ImageUrl}}" />  
          </ion-thumbnail>
          <ion-label style="font-weight: bolder;">
            <h2 style="font-weight: bolder;">{{data.ProductName}} <span style="float: right; font-weight: bolder;"> {{data.UnitPrice | currency: '₱'}}</span>
            </h2>
            <h3 style="font-weight: bolder;">
    
            </h3>
            <p class="rate" style="font-weight: bolder;"> {{data.Stock}} remaining stock</p>
            <div id="qty">
              <!-- <span (click)="Decrease(data)" class="minus"> - </span>  1
              <span (click)="Increase(data)" class="plus"> + </span>   -->
              <span style="float: right; ">
               <button id="btn2" (click)="DeleteProduct(data)"> Delete</button> 
             
              </span>
              <span style="float: right; ">
                <button id="btn" (click)="EditProduct(data)"> Edit</button> 
              
               </span>
               
            </div>
          </ion-label>
        </ion-item>
       
      </ion-list>      
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  </ion-content>
