<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
      <!-- <ion-back-button color="light" defaultHref="home"></ion-back-button> -->
      <ion-icon class="buttonsactive"  name="cart"></ion-icon>
    </ion-buttons>

    <ion-buttons *ngIf="numbers != 0" slot="end">
      
      <ion-button (click)="checkout()"><ion-badge color="danger">{{numbers}}</ion-badge>Checkout</ion-button>
      </ion-buttons>
    <ion-title>Menus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
<ion-grid>
  <ion-row>
    <ion-col>
    <ion-list>
      <ion-item *ngFor="let data of productList">
        <ion-thumbnail slot="start">
         <img src="{{data.ImageUrl}}" />  
        </ion-thumbnail>
        <ion-label>
          <h2>{{data.ProductName}} <span style="float: right; color: #69a03a;">₱ {{data.UnitPrice}}</span>
          </h2>
          <h3>
            <!-- <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon> -->
          </h3>
          <p class="rate"> {{data.Stock}} remaining stock</p>
          <div id="qty">
            <span (click)="Decrease(data)" class="minus"> - </span>  {{data.Quantity}}
            <span (click)="Increase(data)" class="plus"> + </span>  
            <span style="float: right; ">
             <button id="btn" (click)="AddtoCart(data)"> Add</button> 
            </span>
          </div>
        </ion-label>
      </ion-item>
     
    </ion-list>      
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
