<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="end">
      <ion-button (click)="addproduct()" class="addproduct">
        <ion-icon color="dark" size="large" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Customer Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card  class="ion-margin" *ngFor="let data of customersfeedback">
    <ion-card-header class="ion-header">
      <ion-card-subtitle class="ion-subtitle" style="font-weight: 900;  color: black;">
         {{data.CustomerEmail}}
      </ion-card-subtitle>

      <ion-card-subtitle class="ion-subtitle" style="font-weight: 900;  color: black;">
      <ion-avatar>
        <ion-img src="{{data.ImageUrl}}"></ion-img>
      </ion-avatar>  
      {{data.ProductName}} 
      </ion-card-subtitle> 
      <br>
      <ion-item color="none" lines="none">
        <ion-label text-wrap class="label" style="font-weight: 900;  color: black;">
            <!-- Message -->
            {{data.Comments}}
        </ion-label>
      </ion-item>

    </ion-card-header>

  
    <ion-card-content style="font-weight: bolder;">
      <!-- {{item.value.itemDueDate | date:'fullDate'}} -->
      <!-- {{data.Datetime}} -->
      <ion-label style="font-weight: bolder; color: black;">{{data.Datetime | date: 'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>
    

      <!-- (click)="update(data)" -->
      <!-- *ngIf="!data.read" -->
      <ion-button *ngIf="!data.read" button color="danger" (click)="markAsRead(data)">
        <!-- <ion-icon name="book"></ion-icon> -->
        <p>Mark as read</p>
      </ion-button>

      <!-- <ion-item button (click)="delete(item.key)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancel</p>
      </ion-item> -->
    </ion-row>

  </ion-card>
</ion-content>
