<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800;font-size: 3em;">
        Notifications
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-card  class="ion-margin" *ngFor="let data of orderedProducts">
    <ion-card-header class="ion-header">
      <ion-item color="none" lines="none">
      <ion-avatar>
        <ion-img src="{{data.ImageUrl}}"></ion-img>
      </ion-avatar>
        <ion-label text-wrap class="label" style="font-weight: bolder;  color: black;">
          ‎ ‎ ‎ ‎ {{data.ProductName}} ({{data.Category}})
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-row>
      <ion-button color="success" size="small" (click)="writefeedback(data)">
        Write Comments
      </ion-button>
    </ion-row>

  </ion-card>
</ion-content>