<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
     <ion-icon name="arrow-back-outline" slot="icon-only" style="cursor: pointer;" routerLink="/adminpage/atab1"></ion-icon>
    </ion-buttons>
    <ion-buttons  slot="end">   
      <ion-button (click)="searchItems()">
        <ion-icon size="large" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button hidden  class="addproduct">
        <ion-icon size="large" name="text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Materials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let item of materialList" lines="none">
      <ion-label style="cursor: pointer;" class="label" (click)="specificMaterialModal(item)">
        <h2>{{ item.Itemname }}</h2>
        <h3>{{ item.Stock }} </h3><h3 *ngIf="item.Stock ">grams</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
