
<ion-content>
  <div class="wrapper">
    <h3 style="font-weight: bolder;" *ngIf="forcheckout == false">My Information</h3>
    
    <ion-item lines="none" *ngIf="forcheckout == false">
      <ion-label position="floating">First Name</ion-label>
      <ion-input  [(ngModel)]="firstname" type="text" placeholder="First Name"></ion-input>
    </ion-item>
   
    <ion-item lines="none" *ngIf="forcheckout == false">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="forcheckout == true">
      <ion-label position="floating">Address</ion-label>
      <ion-input [disabled]="isDisabled" [(ngModel)]="address1" type="text" placeholder="Address 1"></ion-input>
    </ion-item>

    
    <ion-item lines="none" hidden>
      <ion-label position="floating">Address2</ion-label>
      <ion-input type="text" [(ngModel)]="address2" placeholder="Address 2"></ion-input>
    </ion-item>
   
    <ion-item lines="none" *ngIf="forcheckout == false">
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="number" [(ngModel)]="phonenumber" placeholder="Phone Number"></ion-input>
    </ion-item>

    
    
    
    <ion-button (click)="Edit()" *ngIf="forcheckout == false">Edit</ion-button>
    <ion-button (click)="Edit()" *ngIf="forcheckout == true">Proceed to checkout</ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isEdit" (click)="getCurrentLocation()">  
    <ion-fab-button>  
      <ion-icon  name="location-outline"></ion-icon>  
    </ion-fab-button>  
  </ion-fab>
</ion-content>
