// ion-content{
//     --background : #F0F4FD;
  
//     p{
//      font-weight: 300;
//     }
//   }


ion-content {
    // background-color: #654c05;
    // background: linear-gradient(120deg,#2980b9, #8e44ad);
    background: linear-gradient(120deg,#2980b9, #8e44ad);
   //  --background:  url('/src/assets/icon/backgroundimage3.jpg') no-repeat center center / cover;
   --background:  url('../../assets/icon/backgroundimage3.jpg') no-repeat center center / cover;
   }
   
   .ion-margin {
     background-color: transparent;
   }
   
   .ion-header {
     background-color: transparent;
   }
   
   .ion-subtitle {
     background-color: transparent;
   }
   
   .label {
     background-color: transparent;
   }
   