

<ion-content>
   <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="center">
      <h1>Sign In</h1>
      <h5 [hidden]="ishide" >New Here? <a class="link" (click)="gotosignup()">Sign Up</a></h5>
      <form method="post">
        <div class="txt_field">
          <input type="text" [disabled]="ishide"  [(ngModel)]="Email1" required [ngModelOptions]="{standalone: true}"  #email>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" [disabled]="ishide" [(ngModel)]="Password1" required [ngModelOptions]="{standalone: true}" #password>
          <span></span>
          <label>Password</label>
        </div>
        <div *ngIf="!ishide" class="pass" (click)="ResetPassword()">Forgot Password?</div>
        <button class="button" *ngIf="!ishide" (click)="LogIn(email, password)">Login</button>
        <button class="button" *ngIf="ishide && isthisadmin" (click)="navigateadmin()"  >Continue as Admin</button>
        <button class="button" *ngIf="ishide && !isthisadmin" (click)="navigatecustomer()" >Continue as Customer</button>
      
      
        <div class="signup_link">
          <!-- Not a member? <a href="#">Signup</a> -->
        </div>

        
      </form>
    </div>

  </body>
</ion-content>
