<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="end">
      <ion-button (click)="addproduct()" class="addproduct">
        <ion-icon color="dark" size="large" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <br>
<br>
<br> -->
<ion-content>
  <!-- <ion-button (click)="closeAccordion()" expand="full">Close accordion</ion-button>
  <ion-button (click)="toggleSection()" expand="full">Toggle Section</ion-button> -->
<ion-accordion-group multiple="true">
  <ion-accordion *ngFor="let data of allPendingOrders">
    <ion-item slot="header" lines="none">
      <ion-label class="labelname" style="font-weight: 1000; color: black;" text-wrap>
        Fullname : {{data.BillingFirstname}} {{data.BillingLastname}}
        <br>
        Email: {{data.Billingemail}}
        <br>
        Address: {{data.BillingAddress1}}
         <br> 
        Phone Number: {{data.BillingPhonenumber}}
        <br> 
        Date Ordered : {{data.Datetime}}
      <br>
      Discount : {{data.Discount}}
      <br>
      Payment : {{data.PaymentMethod}}
      <br>
      Total Amount : {{data.TotalAmount | currency: '₱'}}
      <br>
      Status : {{data.Status}}
      <br>
      <ion-text *ngIf="data.paymentStatus == 'COD' || data.paymentStatus == 'paid'">PAID</ion-text>
      <ion-button href="{{data.paymentLink}}" target="_blank" *ngIf="data.paymentStatus == 'unpaid'">PAY NOW!</ion-button>
    </ion-label> 
      
    </ion-item>
    <ion-list slot="content" class="bg-transparent">
     
      <ion-item color="none" lines="none" *ngFor="let datadetails of data.OrderDetails">
        <ion-avatar slot="start">
          <img src="{{datadetails.ImageUrl}}">
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: 1000; color: white;">Product Name: {{datadetails.ProductName}}</h2>
          <p style="font-weight: 1000; color: white;">Quantity: {{datadetails.Quantity}}</p>
          <p style="font-weight: 1000; color: white;">Unit Price: {{datadetails.UnitPrice | currency: '₱'}}</p>
        </ion-label>
       
      </ion-item>
   </ion-list>
  </ion-accordion>

</ion-accordion-group>
</ion-content>
