<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons  slot="start">
      <ion-icon name="arrow-back-outline" slot="icon-only" style="cursor: pointer;" routerLink="/createpos"></ion-icon>    
    </ion-buttons>

    <ion-title>Check Out</ion-title>
    <ion-buttons  slot="end">
      <ion-button color="light" (click)="selectDiscount()">
        <img class="discount" />
        </ion-button>
        <ion-button color="light" (click)="selectPaymentMethod()">
          <img class="paymentMethod" />
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
<ion-grid>
  <ion-row>
    <ion-col>
    <ion-list>
      <ion-item *ngFor="let data of getCartDetails">
        <ion-thumbnail slot="start">
         <img src="{{data.ImageUrl}}" />  
        </ion-thumbnail>
        <ion-label>
          <h2>{{data.ProductName}} <span style="float: right; color: #69a03a;">{{data.UnitPrice | currency: '₱'}}</span>
          </h2>
          <p class="rate"> {{data.Stock}} remaining stock</p>
          <div id="qty">
            <span  class="minus">  </span>  {{data.Quantity}}
            <span  class="plus">  </span>  
            <span style="float: right; ">
             <button id="btn" (click)="singleDelete(data)"> Remove</button> 
            </span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>      
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>  
<ion-footer>
  <ion-row>
    <ion-col size="7">
      <ion-text>
        <h4>Total :  {{total | currency: '₱'}} </h4>
        <h4>Payment Method :  {{paymentMethod}} </h4>
      </ion-text>
    </ion-col>
  
    <ion-col size="5">
      <ion-button *ngIf="total > 0" color="light" (click)="OrderNow()">Confirm Order</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
